<div class="panel panel-primary">

    <div class="panel-heading">
        {{pageTitle}}
    </div>
        
    <div class="panel-body">
        <div class="row" >
            <input type="text"
                 class="input-lg left-block"
                 style="padding-bottom:50px" />
        </div>
        <div class="row">
            <div class="text-left">Email:</div>
            <input type="text"
                   class="input-lg left-block"
                   style="padding-bottom:50px" />
        </div>
        <div class="row">
            <div class="text-left">Email:</div>
            <input type="submit"
                   class="input-sm left-block"
                   style="padding-bottom:50px" />
        </div>
    </div>
</div>