<div class="panel panel-primary">

    <div class="panel-heading">
        {{pageTitle}}
    </div>
        
    <div class="panel-body center-block" style="width:60%;">
        <div class="row" style="padding-bottom:20px">
            <div class="text-left">Email:</div>
            <input type="text"
                 class="input-lg left-block"
                 style="width:100%;" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="text-left">Retype Email:</div>
            <input type="text"
                   class="input-lg left-block"
                 style="width:100%;" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="text-left">Password:</div>
            <input type="text"
                   class="input-lg left-block"
                 style="width:100%;" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <div class="text-left">Birthday:</div>
            <input type="text"
                   class="input-lg left-block"
                 style="width:100%;" />
        </div>
        <div class="row" style="padding-bottom:20px">
            <input type="submit"
                   class="input-sm left-block" />
        </div>
    </div>
</div>