<div class="panel panel-primary">
    <!--
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    -->

    <div class='panel-body'>
        <div class="row">
            <div *ngFor="#offer of offers" class="col-md-4" style="border:1px solid green">
                <div>
                    <img [src]="offer.imageUrl"
                         [title]="offer.productName"
                         [style.width.px]="imageHeight"
                         [style.margin.px]="imageMargin" />
                </div>
                <div>
                    <span>
                        {{ offer.productName }}
                    </span>
                </div>
                <div>{{ offer.productCode | lowercase }}</div>
                <div>{{ offer.releaseDate }}</div>
                <div>{{ offer.price | currency:'USD':true:'1.2-2' }}</div>
                <div>
                    <span>{{ offer.releaseDate }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
    </div>
</div>